Language: Cpp
Standard: c++17
IndentWidth: 4
AccessModifierOffset: -4
BasedOnStyle: LLVM
AlignEscapedNewlines: Left
AlwaysBreakTemplateDeclarations: Yes
SpaceBeforeRangeBasedForLoopColon: false
UseTab: Never
SortIncludes: Never
AllowShortFunctionsOnASingleLine: Empty
IndentWrappedFunctionNames: false
AlwaysBreakAfterDefinitionReturnType: None
ColumnLimit: 160
AllowShortLambdasOnASingleLine: Empty
IndentRequires: true
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive