[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/ImGuiColorTextEdit"]
	path = deps/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
